  
body {

  background-image: url("Background.jpg");
  position: absolute;
  background-color: #e6e7e4;
  height: 4610px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  width: auto;
  border: 5px; 
  padding: 0px 100px;
  margin: 0 auto;
}
  

h1 {
  font-size: 3em;
  /* background: #fff;*/
  display: inline-block;
  padding: 10px 15px;
  border-radius: 30px;
  margin: 0;
}

p { 
  font-size: 3em;
 /* background: #ffffffee;*/
  padding: 0px 15px;
  border-radius: 30px;
}

pre { 
  font-size: 1.5em;
  /* background: #ffffffee;*/
  padding: 10px 15px;
  border-radius: 30px;
}



  
  
  /* header */

  header {
      background-color: #e6e7e4;
      padding: 30px 30px 0px 30px;
      text-align: right;
      font-size: 50px;
      color: #bc2526;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }

/* navigation bar */

    nav:nth-of-type(1) {
      text-align: right;
      margin-block-start: 0px;
    }
/* h2 */

h2:nth-of-type(1) {
      margin-block-end: 0em;
    }
    
/* section */

section:nth-of-type(1) {
      height: 400px;
    }
    section:nth-of-type(2) {
      height: 1000px;
      font-size: 10px;
    }
    section:nth-of-type(3) {
      height: 1150px;
      text-align: center ;
    }

  

/* other */

#set-height {
      display: block;
  }
  
  section {
      z-index: 1;
      position: relative;
  }

  .content {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

/* article */
    article:nth-of-type(odd) {
      float: left;
      text-align: right;
      padding: 50px;
      width: 40%;
      height: 500px;
      
    }

    article:nth-of-type(2) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 750px;
      background-color: #ffffff;
    }

    article:nth-of-type(4) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }

    article:nth-of-type(6) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }

    article:nth-of-type(8) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }

    article:nth-of-type(10) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }

    article:nth-of-type(12) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }

    article:nth-of-type(14) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }

    article:nth-of-type(16) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }

    article:nth-of-type(18) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }

    article:nth-of-type(20) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }






  /*the video needs to get replaced in the future with one that suits the workstyle
  
  
  #v0 {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 40%;
  }
  */
  

  
 /* .content {
      position: sticky;
      position: -webkit-sticky;
      width: 100%;
      top: 33.3%;
  }
  */


  


  
 
  






/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */

 .text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 250ms both;
          animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 250ms both;
}


@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}









/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */

 .vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}


 @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

    