
body {

  background-image: url("Background.jpg");
  position: fixed;
  background-color: #e6e7e4;
  height: 9500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1920px, 6000px;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  width: auto;
  border: 5px; 
  padding: 0px 100px;
  margin: 0 auto;
}
  

h1 {
  font-size: 3em;
  /* background: #fff;*/
  display: inline-block;
  padding: 10px 15px;
  border-radius: 30px;
  margin: 0;
}

p { 
 /* background: #ffffffee;*/
  padding: 0px 15px;
  border-radius: 30px;
}

pre { 
  font-size: 1.5em;
  /* background: #ffffffee;*/
  padding: 10px 15px;
  border-radius: 30px;
}



  
  
  /* header */

  header {
      background-color: #e6e7e4;
      padding: 30px 30px 0px 30px;
      text-align: right;
      font-size: 50px;
      color: #bc2526;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: bold;
    }

/* navigation bar */

    nav:nth-of-type(1) {
      text-align: right;
      margin-block-start: 0px;
      font-size: 22px;
    }

/*links*/

    a:link {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
    a:visited {
      color: black;
      background-color: transparent;
      text-decoration: none;
    }
    a:hover {
      color:black;
      background-color: transparent;
      text-decoration: line-through;
    }
    a:active {
      color: blue;
      background-color: transparent;
      text-decoration: none;
    }

/* h2 */

h2:nth-of-type(1) {
      margin-block-end: 0px;
    }
    
/* section */

section:nth-of-type(1) {
      height: 400px;
      font-size: 20px;
    }
    section:nth-of-type(2) {
      height: 1000px;
      font-size: 1.5em;

    }
    section:nth-of-type(3) {
      height: 1520px;
      text-align: center ;
    }

  

/* other */

#set-height {
      display: block;
  }
  /*
  section {
      z-index: 1;
      position: relative;
  }
*/
  .content {
    font-family: Arial, Helvetica, sans-serif;
  }

/*  article  */

.one  {
  font-size: 20px;
  position: relative;
  top: 200px;
  float: left;
  text-align: right;
  padding: 50px;
  width: 40%;
  height: 420px;
 
}

.two  {
  font-size: 20px;
  position: relative;
  float: right;
  text-align: left;
  padding: 50px;
  width: 40%;
  height: 310px;
 
}

.three  {
  font-size: 20px;
  position: relative;
  top: 200px;
  float: left;
  text-align: right;
  padding: 50px;
  width: 40%;
  height: 220px;
 
}

.four  {
  font-size: 20px;
  position: relative;
  float: right;
  text-align: left;
  padding: 50px;
  width: 40%;
  height: 320px;
 
}

.five  {
  font-size: 20px;
  position: relative;
  top: 200px;
  float: left;
  text-align: right;
  padding: 50px;
  width: 40%;
  height: 320px;
 
}

.six  {
  font-size: 20px;
  position: relative;
  float: right;
  text-align: left;
  padding: 50px;
  width: 40%;
  height: 330px;
 
}

.seven  {
  font-size: 20px;
  position: relative;
  top: 200px;
  float: left;
  text-align: right;
  padding: 50px;
  width: 40%;
  height: 310px;
  background-color: #e6e7e449;
 
}

.eight  {
  font-size: 20px;
  position: relative;
  float: right;
  text-align: left;
  padding: 50px;
  width: 40%;
  height: 270px;
  background-color: #e6e7e449;

}

.nine  {
  font-size: 20px;
  position: relative;
  top: 200px;
  float: left;
  text-align: right;
  padding: 50px;
  width: 40%;
  height: 440px;  
 
}

.ten  {
  font-size: 20px;
  position: relative;
  float: right;
  text-align: left;
  padding: 50px;
  width: 40%;
  height: 400px;  
  background-color: #e6e7e449;
 
}

.eleven  {
  font-size: 20px;
  position: relative;
  top: 200px;
  float: left;
  text-align: right;
  padding: 50px;
  width: 40%;
  height: 300px;

  color: #e6e7e4;
}

.twelve  {
  font-size: 20px;
  position: relative;
  float: right;
  text-align: left;
  padding: 50px;
  width: 40%;
  height: 380px;

  color: #e6e7e4;
}

.thirteen  {
  font-size: 20px;
  position: relative;
  top: 200px;
  float: left;
  text-align: right;
  padding: 50px;
  width: 40%;
  height: 180px;
 
  color: #e6e7e4;
}

.fourteen  {
  font-size: 20px;
  position: relative;
  float: right;
  text-align: left;
  padding: 50px;
  width: 40%;
  height: 520px;

  color: #e6e7e4;
}

.fithteen  {
  font-size: 20px;
  position: relative;
  top: 200px;
  float: left;
  text-align: right;
  padding: 50px;
  width: 40%;
  height: 240px;
  
  color: #e6e7e4;
}

.sixteen  {
  font-size: 20px;
  position: relative;
  float: right;
  text-align: left;
  padding: 50px;
  width: 40%;
  height: 260px;

  color: #e6e7e4;
}

.seventeen  {
  font-size: 20px;
  position: relative;
  top: 200px;
  float: left;
  text-align: right;
  padding: 50px;
  width: 40%;
  height: 260px;
 
  color: #e6e7e4;
}

.eighteen  {
  font-size: 20px;
  position: relative;
  float: right;
  text-align: left;
  padding: 50px;
  width: 40%;
  height: 240px;

  color: #e6e7e4;
}

.nineteen  {
  font-size: 20px;
  position: relative;
  top: 200px;
  float: left;
  text-align: right;
  padding: 50px;
  width: 40%;
  height: 500px;

  color: #e6e7e4;
}

.twenty  {
  font-size: 20px;
  position: relative;
  float: right;
  text-align: left;
  padding: 50px;
  width: 40%;
  height: 170px;

  color: #e6e7e4;


}


.twenty {
  animation: vibrate-1 0.5s;
  animation-iteration-count: infinite;
}


@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}


.return2top {
text-align: center;
color: #e6e7e446;
}

footer {
  text-align: center;
}




/* article 
    article:nth-of-type(1) {
      float: left;
      text-align: right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: rgb(231, 40, 40);
      
    }

    article:nth-of-type(2) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 750px;
      background-color: #ffffff;
    }

    article:nth-of-type(4) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }

    article:nth-of-type(6) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }

    article:nth-of-type(8) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }

    article:nth-of-type(10) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }

    article:nth-of-type(12) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }

    article:nth-of-type(14) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }

    article:nth-of-type(16) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }

    article:nth-of-type(18) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }

    article:nth-of-type(20) {
      float:right;
      padding: 50px;
      width: 40%;
      height: 500px;
      background-color: #e6e7e4;
    }


*/



  /*the video needs to get replaced in the future with one that suits the workstyle
  
  
  #v0 {
      position: fixed;
      bottom: 0;
      right: 0;
      width: 40%;
  }
  */
  

  
 /* .content {
      position: sticky;
      position: -webkit-sticky;
      width: 100%;
      top: 33.3%;
  }
  */


  


  
 
  






/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */

 .text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 250ms both;
          animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 250ms both;
}


@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}









/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */

 .vibrate-1 {
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	        animation: vibrate-1 0.3s linear infinite both;
}


 @-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
            transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
            transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
            transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

    