.grid-gallery {
    height: 100%;
    width: 90%;
    padding: 0.5em;
    margin: 0 auto 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.folder {
    margin: 0.5em;
    width: 25%;
    text-align: center;
}

.h3 {
    margin-bottom: 10px;
    margin-top: 10px;
    color: #303233;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    outline: 0;  
  }

.content:hover {
    color: rgba(0, 0, 0, 0.541);
    transform: rotateY(180deg);
}