*{
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


.bg-test-1 {
    background-color: blue;
}

.bg-test-2 {
    background-color: green;
}

.bg-test-3 {
    background-color: pink;
}




